.card{
    color:rgb(212, 255, 0);
    background: #d8dde1;

}
.card:hover{
    color: #51d52c;
    background: rgb(255, 89, 0);
}
.card-body{
    color: rgb(7, 57, 57);
    background: #bbccee;
    padding:0, 30px;
}
.card-btn{
    color: aqua;
    background: #003b73;
}
header{
    height: 88px;
    background: #003b73;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
   
    padding: 0 , 28;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    width: 90%;
    max-width: 1200px;
    margin: 35px 30px;
}
